ClienteHan/xml-resources/web-service-references/BankWS/wsdl/localhost_8080/BankWS/BankWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="alterCadastro" type="tns:alterCadastro"/>

<xs:element name="alterCadastroResponse" type="tns:alterCadastroResponse"/>

<xs:element name="cadastrarUser" type="tns:cadastrarUser"/>

<xs:element name="cadastrarUserResponse" type="tns:cadastrarUserResponse"/>

<xs:element name="consultUser" type="tns:consultUser"/>

<xs:element name="consultUserResponse" type="tns:consultUserResponse"/>

<xs:element name="deposito" type="tns:deposito"/>

<xs:element name="depositoResponse" type="tns:depositoResponse"/>

<xs:element name="saldoUser" type="tns:saldoUser"/>

<xs:element name="saldoUserResponse" type="tns:saldoUserResponse"/>

<xs:element name="saque" type="tns:saque"/>

<xs:element name="saqueResponse" type="tns:saqueResponse"/>

<xs:complexType name="cadastrarUser">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
<xs:element name="saldo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cadastrarUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alterCadastro">
<xs:sequence>
<xs:element name="oldNome" type="xs:string" minOccurs="0"/>
<xs:element name="newNome" type="xs:string" minOccurs="0"/>
<xs:element name="oldSenha" type="xs:string" minOccurs="0"/>
<xs:element name="newSenha" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alterCadastroResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saque">
<xs:sequence>
<xs:element name="valor" type="xs:double"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saqueResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultUser">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saldoUser">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saldoUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deposito">
<xs:sequence>
<xs:element name="valor" type="xs:double"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depositoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>