ClienteHan/src/META-INF/wsdl/localhost_8080/BankWS/BankWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BankWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/BankWS/BankWS?xsd=1"/>
</xsd:schema>
</types>
<message name="deposito">
<part name="parameters" element="tns:deposito"/>
</message>
<message name="depositoResponse">
<part name="parameters" element="tns:depositoResponse"/>
</message>
<message name="saque">
<part name="parameters" element="tns:saque"/>
</message>
<message name="saqueResponse">
<part name="parameters" element="tns:saqueResponse"/>
</message>
<message name="consultUser">
<part name="parameters" element="tns:consultUser"/>
</message>
<message name="consultUserResponse">
<part name="parameters" element="tns:consultUserResponse"/>
</message>
<message name="cadastrarUser">
<part name="parameters" element="tns:cadastrarUser"/>
</message>
<message name="cadastrarUserResponse">
<part name="parameters" element="tns:cadastrarUserResponse"/>
</message>
<message name="saldoUser">
<part name="parameters" element="tns:saldoUser"/>
</message>
<message name="saldoUserResponse">
<part name="parameters" element="tns:saldoUserResponse"/>
</message>
<message name="alterCadastro">
<part name="parameters" element="tns:alterCadastro"/>
</message>
<message name="alterCadastroResponse">
<part name="parameters" element="tns:alterCadastroResponse"/>
</message>
<portType name="BankWS">
<operation name="deposito">
<input wsam:Action="http://ws/BankWS/depositoRequest" message="tns:deposito"/>
<output wsam:Action="http://ws/BankWS/depositoResponse" message="tns:depositoResponse"/>
</operation>
<operation name="saque">
<input wsam:Action="http://ws/BankWS/saqueRequest" message="tns:saque"/>
<output wsam:Action="http://ws/BankWS/saqueResponse" message="tns:saqueResponse"/>
</operation>
<operation name="consultUser">
<input wsam:Action="http://ws/BankWS/consultUserRequest" message="tns:consultUser"/>
<output wsam:Action="http://ws/BankWS/consultUserResponse" message="tns:consultUserResponse"/>
</operation>
<operation name="cadastrarUser">
<input wsam:Action="http://ws/BankWS/cadastrarUserRequest" message="tns:cadastrarUser"/>
<output wsam:Action="http://ws/BankWS/cadastrarUserResponse" message="tns:cadastrarUserResponse"/>
</operation>
<operation name="saldoUser">
<input wsam:Action="http://ws/BankWS/saldoUserRequest" message="tns:saldoUser"/>
<output wsam:Action="http://ws/BankWS/saldoUserResponse" message="tns:saldoUserResponse"/>
</operation>
<operation name="alterCadastro">
<input wsam:Action="http://ws/BankWS/alterCadastroRequest" message="tns:alterCadastro"/>
<output wsam:Action="http://ws/BankWS/alterCadastroResponse" message="tns:alterCadastroResponse"/>
</operation>
</portType>
<binding name="BankWSPortBinding" type="tns:BankWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deposito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saque">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cadastrarUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saldoUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="alterCadastro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWS">
<port name="BankWSPort" binding="tns:BankWSPortBinding">
<soap:address location="http://localhost:8080/BankWS/BankWS"/>
</port>
</service>
</definitions>